/**
 * jQuery.tablesorter() used in the table widget.
 */

table.tablesorter thead tr .header {
  background-image: url(/static/js/vendor/tablesorter/themes/blue/bg.gif);
  background-repeat: no-repeat;
  background-position: center right;
  cursor: pointer;
}

table.tablesorter thead tr .headerSortUp {
  background-image: url(/static/js/vendor/tablesorter/themes/blue/asc.gif);
}

table.tablesorter thead tr .headerSortDown {
  background-image: url(/static/js/vendor/tablesorter/themes/blue/desc.gif);
}
