{% extends "base.html" %}
{% block content %}
<div id="about" v-cloak>
  <h1 class="display-4" v-html="$t('about')"></h1>

  <!--
  <p>${ $t('presentation') }</p>
  -->

  {{ readme|safe }}
</div>
<script type="module" crossorigin src="/static/js/about.js"></script>
{% endblock %}
