{% extends "base.html" %}
{% block content %}
<div id="api" v-cloak>
  <div id="swagger-ui"></div>
</div>
<link rel="stylesheet" href="https://unpkg.com/swagger-ui-dist@3.24.3/swagger-ui.css" integrity="sha384-WBdQ4nw0UWAWpf/c1u6DHcCmoT1wY63dk3fPmcb0vKhXP81/lK4GSIiU5nrA6qEs" crossorigin="anonymous">
<script src="https://unpkg.com/swagger-ui-dist@3.24.3/swagger-ui-bundle.js" integrity="sha384-yZMLEvr3DOCR6ICYhh9u1wOw2E/mAuic+643yFj+EVNtDEQGRzWD+mMg8LM/HDVd" crossorigin="anonymous"></script>
<script src="https://unpkg.com/swagger-ui-dist@3.24.3/swagger-ui-standalone-preset.js" integrity="sha384-sTb47WR//agLnr7p+2eMNLxtfLZFYwBzMyh4U/NMCrBeDjPe6leIOcU+7IgdvnBt" crossorigin="anonymous"></script>
<script type="module" crossorigin src="/static/js/api.js"></script>
{% endblock %}
