<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="utf-8" />
    <link rel="stylesheet" href="style.css" />
    <title>{% block title %}{{ title }}{% endblock %} - {{ name }}</title>

    {% include 'libraries.html' %}
    {% endblock %}    
  </head>
  <body>
    {% include 'navigation.html' %}

    <div id="content" class="container-fluid">
      {% block content %}
      {% endblock %}
    </div>

    {% include 'footer.html' %}
  </body>
  <script src="/static/js/base.js"></script>
</html>
