    <div id="footer" v-cloak>
      {% block footer %}
      {% endblock %}

      <hr />

      <iframe v-bind:src="footerUrl" id="rodape" class="autosize"
              width="100%" height="400px" scrolling="no" frameborder="0"
              sandbox="allow-same-origin allow-scripts allow-popups allow-forms">
      </iframe>
    </div>
    <script type="module" crossorigin src="/static/js/footer.js"></script>
