{% extends "base.html" %}
{% block content %}
<div id="index" v-cloak>
  <div class="jumbotron">
    <h1 class="display-4">
      <i class="fa fa-download" aria-hidden="true"></i>
      &
      <i class="fa fa-save" aria-hidden="true"></i>
      :
      ${ $t('name') }
    </h1>
    <p class="lead">${ $t('description') }</p>
    <hr class="my-4">
    <p>
    <!--${ $t('summary') }-->
    <span v-html="$t('disk_usage')"></span>: <strong>{{ usage }}</strong>
    </p>
    <p class="lead">
    <a class="btn btn-primary btn-lg" v-bind:href="'/v1/about?lang=' + locale" role="button">
      <i class="fa fa-info-circle" aria-hidden="true"></i>
      ${ $t('know_more') }
    </a>
    </p>
  </div>

  <ul class="nav nav-tabs" id="sections" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="inventory-tab" data-toggle="tab" href="#inventory" role="tab" aria-controls="inventory" aria-selected="true" v-html="$t('inventory')"></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="archive-tab" data-toggle="tab" href="#archive" role="tab" aria-controls="archive" aria-selected="false" v-html="$t('archive')"></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="analysis-tab" data-toggle="tab" href="#analysis" role="tab" aria-controls="analysis" aria-selected="false" v-html="$t('analysis')"></a>
    </li>
  </ul>

  <div class="tab-content" id="sectionsContent">
    <div class="tab-pane fade show active" id="inventory" role="tabpanel" aria-labelledby="inventory-tab">
      <br />
      <h2 v-html="$t('inventory_desc')"></h2>
      <p v-html="$t('inventory_info')"></p>

      {% include 'inventory.html' %}
      <inventory></inventory>
    </div>

    <div class="tab-pane fade" id="archive" role="tabpanel" aria-labelledby="archive-tab">
      <br />
      <h2 v-html="$t('archive_desc')"></h2>
      <p v-html="$t('archive_info')"></p>

      <iframe src="https://salvaguarda.socioambiental.org/data/" id="browse" class="autosize"
              width="100%" height="400px" scrolling="yes" frameborder="0" seamless="yes"
              sandbox="allow-same-origin allow-scripts allow-popups">
      </iframe>
    </div>

    <div class="tab-pane fade" id="analysis" role="tabpanel" aria-labelledby="analysis-tab">
      <br />
      <h2 v-html="$t('analysis_desc')"></h2>
      <p v-html="$t('analysis_info')"></p>

      <ul class="list-group">
        <li v-for="item in analysis" class="list-group-item">
          <a v-bind:href="'/v1/analysis/' + item.date + '/' + item.site">${ item.date } - ${ item.site }</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<script type="module" crossorigin src="/static/js/index.js"></script>
{% endblock %}
