<script type="text/x-template" id="inventory-template" v-cloak>
  <div class="inventory">
    <section class="filters">
      <div class="container">
        <div class="row">
          <div class="col-lg-2 cols-md-2 col-xs-12">
            <div class="mt-2">
              <span v-html="$t('total')"></span>: <strong v-html="count"></strong>
            </div>
          </div>

          <div class="col-lg-6 cols-md-6 col-xs-12">
            <div>
              <span v-html="$t('filter')"></span>:
              <input v-model="search" type="text">
              <a class="btn btn-primary" role="button" v-bind:disabled="!search" v-on:click="clear">
                <i class="fas fa-backspace" aria-hidden="true"></i>
                <span v-html="$t('clear_selection')"></span>
              </a>
            </div>
          </div>

          <div class="col-lg-4 cols-md-4 col-xs-12">
            <a class="btn btn-primary" role="button" v-bind:download="filename" v-bind:href="csv">
              <i class="fas fa-file-csv" aria-hidden="true"></i>
              <span v-html="$t('download_csv')"></span>
            </a>
          </div>
        </div>
      </div>
    </section>

    <br />

    <div class="table-responsive">
      <table class="table table-striped tablesorter table-inventory">
        <thead class="thead-light">
          <tr>
            <th v-html="$t('institution')"     class="sorter-text"></th>
            <th v-html="$t('url')"             class="sorter-text"></th>
            <th v-html="$t('batch')"           class="sorter-digit"></th>
            <th v-html="$t('priority')"        class="sorter-text"></th>
            <th v-html="$t('analysis_level')"  class="sorter-text"></th>
            <th v-html="$t('download_totals')" class="sorter-digit"></th>
            <th v-html="$t('downloads')"       class="sorter-text csv-noexport"></th>
            <th v-html="$t('notes')"           class="sorter-text"></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="site in results">
            <td v-html="site.institution">
            </td>
            <td>
              <a v-bind:href="site.url" target="_blank" v-html="site.url"></a>
            </td>
            <td v-html="site.batch"></td>
            <td v-html="site.priority"></td>
            <td v-html="site.analysis_level"></td>
            <td v-html="site.downloads != undefined ? site.downloads.length : 0"></td>
            <td class="csv-noexport">
              <!--
              <div v-for="download in site.downloads" v-if="site.downloads != undefined">
                <a v-bind:href="'/' + download.path + '/'" target="_blank">
                  <span v-html="download.year + '-' + download.month + '-' + download.day + ' (' + formatNumber(download.items) + ' ' + $t('items') + ' / ' + humanFileSize(download.size) + ')'"></span>
                </a>
              </div>
              -->

              <table v-if="site.downloads != undefined">
                <thead>
                  <th v-html="$t('date')" class="csv-noexport"></th>
                  <th v-html="$t('size')" class="csv-noexport"></th>
                  <th v-html="$t('items')"class="csv-noexport"></th>
                  <th v-html="$t('link')" class="csv-noexport"></th>
                </thead>
                <tbody>
                  <tr v-for="download in site.downloads">
                    <td v-html="download.year + '-' + download.month + '-' + download.day" class="csv-noexport"></td>
                    <td v-html="humanFileSize(download.size)" class="csv-noexport"></td>
                    <td class="csv-noexport">
                      <a v-if="download.items > 0" v-bind:href="'/' + download.cdx" target="_blank" v-html="formatNumber(download.items)"></a>
                      <span v-else>0</span>
                    </td>
                    <td class="csv-noexport">
                      <a v-bind:href="'/' + download.path + '/'" target="_blank" v-html="download.hash"></a>
                    </td>
                  </tr>
                </tbody>
              </table>

              <span v-else>-</span>

            </td>
            <td v-html="site.notes"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</script>
<script type="module" crossorigin src="/static/js/inventory.js"></script>
