    <!-- jQuery -->
    <script
          src="https://code.jquery.com/jquery-3.2.1.min.js"
          integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
          crossorigin="anonymous"></script>

    <!-- Popper -->
    <script
          src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
          integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
          crossorigin="anonymous"></script>

    <!-- Bootstrap -->
    <link
          rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
          crossorigin="anonymous">

    <!-- Bootstrap JS -->
    <script
          src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
          integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
          crossorigin="anonymous"></script>

    <!-- Font awesome from CDN -->
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.12.0-1/css/all.css"
          integrity="sha384-i090POAzfiGzqb4z2cbVa+SZ/ye0lP0mNl1rCZBTGVVPFpU8a4Ky5aBxJ0Ol5W6s"
          crossorigin="anonymous">

    <!-- Support for https://github.com/davidjbradshaw/iframe-resizer -->
    <script src="https://unpkg.com/iframe-resizer@4.1.1/js/iframeResizer.min.js"
            integrity="sha384-L+yWO0JwBeCsomGMzZjdA86csUuPn1ZYkJxE9mtk/alb3c5Wht527Z48u1611pZf"
            crossorigin="anonymous"></script>

    <!-- Tablesorter -->
    <!--<link href="/static/js/vendor/tablesorter/dist/css/theme.default.min.css" rel="stylesheet">-->
    <link href="/static/js/vendor/tablesorter/dist/css/theme.bootstrap_4.min.css" rel="stylesheet">
    <!--<link href="/static/js/vendor/tablesorter/css/theme.bootstrap_4.css" rel="stylesheet">-->
    <script src="/static/js/vendor/tablesorter/dist/js/jquery.tablesorter.min.js"></script>
    <script src="/static/js/vendor/tablesorter/dist/js/jquery.tablesorter.widgets.js"></script>

    <!-- Vuejs, for development -->
    <script src="https://unpkg.com/vue@2.6.10/dist/vue.js"
            integrity="sha384-9u9lzb/hr8e14GLHe5TEOrTiH3Qtw5DX2Zw9X/g7cqj81W2McEMx5CKOszxdb8jg"
            crossorigin=""></script>

    <!-- Vuejs Minified, for production -->
    <!--
    <script src="https://unpkg.com/vue@2.6.10/dist/vue.min.js"
            integrity="sha384-8t+aLluUVnn5SPPG/NbeZCH6TWIvaXIm/gDbutRvtEeElzxxWaZN+G/ZIEdI/f+y"
            crossorigin=""></script>
    -->

    <!-- Vuejs i18n -->
    <script src="https://unpkg.com/vue-i18n@8.12.0/dist/vue-i18n.min.js"
            integrity="sha384-ic5CVdylN/4xmtjKljgYFpwpJ2IzYKuF/I3DzxD8kuIMt1ogd8+EgGGOZzqIb7Vx"
            crossorigin=""></script>

    <!-- Custom stylesheet -->
    <link rel="stylesheet" href="/static/css/style.css">

    <!-- Axios -->
    <script src="https://unpkg.com/axios@0.19.1/dist/axios.min.js"
            integrity="sha384-4ThTmV+Xdlky/tvojs9zllNTTun9qnsvk3RcDKlsu3jQXk9Z4Uveex+e5Qq7KIaU"
            crossorigin="anonymous"></script>

    <!-- Lodash -->
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"
            integrity="sha384-c/qp0C6AiVcAVXpY5oTmXZWAeDwawG+1nGEXp3uXGTnZWSPyZfKoDQEJJd0c13Im"
            crossorigin="anonymous"></script>
 
    <!-- Table2CSV -->
    <script src="https://unpkg.com/table2csv@1.1.4/src/table2csv.js"
            integrity="sha384-prCgf9kBh5MZbfebkHldOpQaT2MqHAz+M5C06bekcwU7x885wI/2LeoEg1SxquzM"
            crossorigin="anonymous"></script>

    <!-- Base frontend code -->
    <script type="module" crossorigin src="/static/js/common/url_query.js"></script>
    <script type="module" crossorigin src="/static/js/messages.js"></script>
    <script type="module" crossorigin src="/static/js/pages.js"></script>
