    <nav id="navigation" class="navbar navbar-expand-lg navbar-light bg-light" v-cloak>
      <!--<a class="navbar-brand" href="#">{{ title }}</a>-->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" v-bind:href="i18nUrl('/v1')">
              <i class="fa fa-home" aria-hidden="true"></i>
              ${ $t('home') }
              <span class="sr-only">(current)</span>
            </a>
          </li>

          <li class="nav-item active">
            <a class="nav-link" v-bind:href="i18nUrl('/v1/about')">
              <i class="fa fa-info-circle" aria-hidden="true"></i>
              ${ $t('about') }
            </a>
          </li>

          <li class="nav-item active">
            <a class="nav-link" v-bind:href="i18nUrl('/v1/api')">
              <i class="fas fa-database" aria-hidden="true"></i>
              ${ $t('api') }
            </a>
          </li>

          <!--
          <li class="nav-item active">
            <a class="nav-link" v-bind:href="i18nUrl('/v1/references')">
              <i class="fa fa-question-circle" aria-hidden="true"></i>
              ${ $t('references') }
            </a>
          </li>
          -->

          <li class="nav-item active">
            <a class="nav-link" v-bind:href="i18nUrl('/v1/clipping')">
              <i class="fa fa-newspaper" aria-hidden="true"></i>
              ${ $t('clipping') }
            </a>
          </li>

          <li class="nav-item active">
            <a class="nav-link" href="https://gitlab.com/socioambiental/baixador">
              <i class="fab fa-gitlab" aria-hidden="true"></i>
              ${ $t('code') }
            </a>
          </li>

          <li class="nav-item locale pull-right">
            <div>
              <select v-model="locale" id="locale" class="form-control">
                <option value="en">English</option>
                <option value="es">Español</option>
                <option value="pt-br">Português</option>
              </select>
            </div>
          </li>
      </div>
    </nav>
    <script type="module" crossorigin src="/static/js/navigation.js"></script>
