{% extends "base.html" %}
{% block content %}
<div id="references" v-cloak>
  <h1 class="display-4" v-html="$t('references')"></h1>

  <p>${ $t('references_desc') }<p>
</div>
<script type="module" crossorigin src="/static/js/references.js"></script>
{% endblock %}
